@CHARSET "UTF-8";

@font-face {
	font-family: 'iconfont'; /* project id 519621 */
	src: url('//at.alicdn.com/t/font_519621_0rx3239sq6si3sor.eot');
	src: url('//at.alicdn.com/t/font_519621_0rx3239sq6si3sor.eot?#iefix')
		format('embedded-opentype'),
		url('//at.alicdn.com/t/font_519621_0rx3239sq6si3sor.woff')
		format('woff'),
		url('//at.alicdn.com/t/font_519621_0rx3239sq6si3sor.ttf')
		format('truetype'),
		url('//at.alicdn.com/t/font_519621_0rx3239sq6si3sor.svg#iconfont')
		format('svg');
}

.iconfont {
	font-family: "iconfont";
	font-size: 16px;
	font-style: normal;
}

.artical-list-date .timeSpan, .artical-list-date .viewCount {
	margin-right: 20px;
	cursor: pointer;
}

.artical-list-date .timeSpan:hover {
	color: #32D3C3;
}

.artical-list-date .viewCount:hover {
	color: #32D3C3;
}

.artical-list-date .commentsCount:hover {
	color: #32D3C3;
}